<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a Valid E-Mail.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="password" ngModel type="password" placeholder="Password" #passwordInput required/>
      <mat-error *ngIf="passwordInput.invalid">Please enter a Valid Password.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="confirmPassword" ngModel type="password" placeholder="Confirm Password"
      (onblur)="confirmPassword(passwordInput,confirmPasswordInput)"
      #confirmPasswordInput required/>
      <mat-error *ngIf="confirmPasswordInput.invalid">Please Confirm your password.</mat-error>
      <mat-error *ngIf="signupForm.getControl('passwordInput')!=signupForm.getControl('confirmPassword')">Password mismatch.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">signup</button>
  </form>
</mat-card>
